@tailwind base;
@tailwind components;
@tailwind utilities;

@base layer {
	@font-face {
		font-family: "inter";
		src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
		src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
		src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
	}
}
